<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>

            <button class="btn btn-dark float-end btn-lg" routerLink="/create-empleado">Agregar</button>

            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Steeven</td>
                    <td>Armijos</td>
                    <td>0706215738</td>
                    <td>50</td>
                    <td>
                        <i class="icon-edit icon-2x text-info m-2"></i>
                        <i class="icon-trash icon-2x text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Juan</td>
                    <td>Armijos</td>
                    <td>0706215738</td>
                    <td>50</td>
                    <td>
                        <i class="icon-edit icon-2x text-info m-2"></i>
                        <i class="icon-trash icon-2x text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Luis</td>
                    <td>Armijos</td>
                    <td>0706215738</td>
                    <td>50</td>
                    <td>
                        <i class="icon-edit icon-2x text-info m-2"></i>
                        <i class="icon-trash icon-2x text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>